@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Sanchez:400,400i&display=swap');

body{
  background: image_url('connectwork.png');
  font-family: 'Sanchez', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(222, 222, 222, 0.75);
  border: none;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 10px 50px 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 3px 5px 8px black;
}

.img-logo {
  height: 40px;
  width: 100px;
}

.navbar {
  background: image_url('darkdenim.png');
  box-shadow: 0px 2px 5px black;
}
