@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Sanchez:400,400i&display=swap');

body{
  background: image_url('connectwork.png');
  font-family: 'Sanchez', serif;
}

h1, h2, h3, h4, h5, h6 {
  margin:0;
  padding:0;
}



.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: rgba(222, 222, 222, 0.75);
  border: none;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 10px 50px 50px;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  box-shadow: 3px 5px 8px black;
}

.img-logo {
  height: 40px;
  width: 100px;
}

.navbar {
  background: image_url('darkdenim.png');
  box-shadow: 0px 2px 5px black;
}

.pagination {  
  cursor: default;
  a, span, em {
    padding: 0.2em 0.5em;
    display: block;
    float: left;
    margin-right: 1px;
  }
  .disabled {
    display: none;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background: #3CD318;
    border-radius: 7px;
    color: white;
  }
  a {
    text-decoration: none;
    background: rgba(222, 222, 222, 0.75);
    border-radius: 7px;
    color: black;
    border: 1px solid black;
    &:hover, &:focus {
      color: #3CD318;
      border-color: #3CD318;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}
